<form action="{{ url_for("paste.create") }}" method="post">
    <div class="mb-3">
        <label for="newpasteText" class="form-label">New paste</label>
        <textarea class="form-control" id="newpasteText" name="pasteText" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="expiresIn" class="form-label">Expires in</label>
        <select id="expiresIn" name="expiresIn" class="form-select">
            {% for option in expiry_options %}<option value="{{ option.value }}">{{ option.label }}</option>{% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="newpasteName" class="form-label">Paste name</label>
        <input type="text" class="form-control" id="newpasteName" name="pasteName" />
    </div>
    <button type="submit" class="btn btn-primary" id="cookpaste">Paste it!</button>
</form>
