{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ paste.title|e }}</h1>
            <p class="card-text">{{ paste.contents|e }}</p>
        </div>
        <div class="card-footer">{{ paste.created_at|format_time }}</div>
    </div>
{% endblock content %}
