<form action="{{ url_for("pasta.create") }}" method="post">
    <div class="mb-3">
        <label for="newPastaText" class="form-label">New pasta</label>
        <textarea class="form-control" id="newPastaText" name="pastaText" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="newPastaName" class="form-label">Pasta name</label>
        <input type="text" class="form-control" id="newPastaName" name="pastaName" />
    </div>
    <button type="submit" class="btn btn-primary" id="cookPasta">Paste it!</button>
</form>
