{% extends "base.html" %}
{% block content %}
    <h1>{{ pasta.name }}</h1>
    <div>
        <p>{{ pasta.contents }}</p>
    </div>
    <div>{{ pasta.created_at|format_time }}</div>
{% endblock content %}
