<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description"
          content="Simple, private paste bin service, no ads" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <script src="{{ asset.url_for("main.js") }}"></script>
    <link rel="stylesheet" href="{{ asset.url_for("styles.css") }}">
    <title>cherry//bin | Simple, private paste bin service, no ads</title>
  </head>
  <body>
    <main>
      {% include "shared/header.jinja" %}
      <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}<div class="alert alert-danger" role="alert">{{ message|e }}</div>{% endfor %}
          {% endif %}
        {% endwith %}
        <div class="container is-fluid">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </main>
  </body>
</html>
