{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8">{% include "pastas/new.jinja" %}</div>
        <div class="col-4">sidebar</div>
    </div>
    {{ g.user }}
{% endblock content %}
