{% macro auth_form(submit_button_name)%}
    <form method="post">
        <p>
            <label for="email">Email</label>
            <input name="email" id="email" type="text" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input name="password" id="password" type="password" required>
        </p>
        <p>
            <input type="submit" value="{{submit_button_name}}">
        </p>
    </form>
{%- endmacro %}