{% extends 'base.html' %}
{% from 'auth/form.jinja' import auth_form %}

{% block content %}
<h1>Login</h1>
{{ auth_form('Sign In') }}
<a href="{{ url_for('auth.signup') }}">Sign up</a>
{% endblock %}