{% set my_pastes_path = url_for('paste.user', user_id=g.user['localId']) %}
{% set navigation = [(my_pastes_path, 'My pastes'), ('#', 'FAQs'), ('#', 'About')] %}
<nav class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <strong><a class="navbar-brand me-4"
   style="font-size: 1.25rem"
   href="{{ url_for("index") }}">cherry[bin]</a></strong>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% for href, label in navigation %}
                    <li>
                        <a href="{{ href }}" class="nav-link px-2 text-white">{{ label }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-end">
                {% if g.user %}
                    {{ g.user.email }}
                    <a href="{{ url_for("auth.logout") }}"
                       class="btn btn-outline-light ms-3">Logout</a>
                {% else %}
                    <a href="{{ url_for("auth.login") }}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{{ url_for("auth.signup") }}" class="btn btn-primary">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
